In [3]:
import pandas as pd

In [28]:
df = pd.read_csv('/home/b/viz/data/annual_hiv_deaths_number_all_ages.csv',index_col=0)

In [32]:
df.index.name = 'name'

In [34]:
df.head()

,1990,1991,1992,1993,1994,1995,1996,1997,1998,1999,...,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011
name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,60.0,60.0,60.0,60.0,60.0,150.0,150.0,150.0,150.0,150.0,...,150.0,150.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0
Algeria,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,120.0,120.0,...,300.0,300.0,300.0,600.0,600.0,600.0,600.0,600.0,NaN,NaN
Angola,600.0,1200.0,1800.0,2500.0,3300.0,4300.0,5300.0,6300.0,7300.0,8200.0,...,11000.0,12000.0,12000.0,13000.0,13000.0,13000.0,12000.0,11000.0,NaN,NaN
Argentina,3000.0,3200.0,3400.0,3600.0,3800.0,3500.0,3200.0,3100.0,3000.0,3000.0,...,2800.0,2900.0,3100.0,3200.0,3200.0,3200.0,3000.0,2900.0,NaN,NaN
Armenia,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,60.0,150.0,...,350.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0,350.0

In [43]:
df.div(pop, axis='columns').loc[:,"1990":"2011"].to_csv('/home/b/viz/data/hiv_death_rate.csv')

In [46]:
d = pd.read_csv('/home/b/viz/data/hiv_death_rate.csv', index_col=0)

In [58]:
for col in pop.columns:
    pop[col].values[:] = 1

In [59]:
pop.to_csv('/home/b/viz/data/constant.csv')

In [23]:
pop = pd.read_csv('/home/b/viz/data/population_total.csv',index_col=0)

In [60]:
pop.head()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2091,2092,2093,2094,2095,2096,2097,2098,2099,2100
name,,,,,,,,,,,,,,,,,,,,,
Afghanistan,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Albania,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Algeria,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Andorra,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
Angola,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [25]:
hiv = pd.read_csv('/home/b/viz/data/adults_with_hiv_percent_age_15_49.csv',index_col=0)

In [14]:
df.head()

,1800,1801,1802,1803,1804,1805,1806,1807,1808,1809,...,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016
name,,,,,,,,,,,,,,,,,,,,,
Abkhazia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Afghanistan,28.21,28.20,28.19,28.18,28.17,28.16,28.15,28.14,28.13,28.12,...,52.4,52.8,53.3,53.6,54.0,54.4,54.8,54.9,53.8,52.72
Akrotiri and Dhekelia,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Albania,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,35.40,...,76.6,76.8,77.0,77.2,77.4,77.5,77.7,77.9,78.0,78.10
Algeria,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,28.82,...,75.3,75.5,75.7,76.0,76.1,76.2,76.3,76.3,76.4,76.50

In [17]:
df.min().min()

1.0

In [21]:
df.isna().sum(axis=1)

name
Abkhazia                    217
Afghanistan                   0
Akrotiri and Dhekelia       217
Albania                       0
Algeria                       0
American Samoa              190
Andorra                     190
Angola                        0
Anguilla                    217
Antigua and Barbuda           0
Argentina                     0
Armenia                       0
Aruba                         0
Australia                     0
Austria                       0
Azerbaijan                    0
Bahamas                       0
Bahrain                       0
Bangladesh                    0
Barbados                      0
Belarus                       0
Belgium                       0
Belize                        0
Benin                         0
Bermuda                     190
Bhutan                        0
Bolivia                       0
Bosnia and Herzegovina        0
Botswana                      0
Brazil                        0
                           ...
Trinidad and Tobago           0
Tunisia                       0
Turkey                        0
Turkmenistan                  0
Turks and Caicos Islands    217
Tuvalu                      217
Uganda                        0
Ukraine                       0
United Arab Emirates          0
United Kingdom                0
United States                 0
Uruguay                       0
USSR                        217
Uzbekistan                    0
Wallis et Futuna            217
Vanuatu                       0
Venezuela                     0
West Bank and Gaza            0
West Germany                217
Western Sahara                0
Vietnam                       0
Virgin Islands (U.S.)         0
North Yemen (former)        217
South Yemen (former)        217
Yemen                         0
Yugoslavia                  217
Zambia                        0
Zimbabwe                      0
Ã…land                       207
South Sudan                   0
Length: 260, dtype: int64

In [24]:
pop.isna().sum(axis=1)

name
Afghanistan               0
Albania                   0
Algeria                   0
Andorra                   0
Angola                    0
Antigua and Barbuda       0
Argentina                 0
Armenia                   0
Australia                 0
Austria                   0
Azerbaijan                0
Bahamas                   0
Bahrain                   0
Bangladesh                0
Barbados                  0
Belarus                   0
Belgium                   0
Belize                    0
Benin                     0
Bhutan                    0
Bolivia                   0
Bosnia and Herzegovina    0
Botswana                  0
Brazil                    0
Brunei                    0
Bulgaria                  0
Burkina Faso              0
Burundi                   0
Cambodia                  0
Cameroon                  0
                         ..
Sudan                     0
Suriname                  0
Swaziland                 0
Sweden                    0
Switzerland               0
Syria                     0
Tajikistan                0
Tanzania                  0
Thailand                  0
Timor-Leste               0
Togo                      0
Tonga                     0
Trinidad and Tobago       0
Tunisia                   0
Turkey                    0
Turkmenistan              0
Tuvalu                    0
Uganda                    0
Ukraine                   0
United Arab Emirates      0
United Kingdom            0
United States             0
Uruguay                   0
Uzbekistan                0
Vanuatu                   0
Venezuela                 0
Vietnam                   0
Yemen                     0
Zambia                    0
Zimbabwe                  0
Length: 195, dtype: int64

In [27]:
hiv.isna().sum(axis=0)

1979    107
1980    151
1981    149
1982    146
1983    146
1984    151
1985    144
1986    152
1987    151
1988    154
1989    154
1990      8
1991      8
1992      8
1993      8
1994      8
1995      8
1996      8
1997      8
1998      8
1999      8
2000      8
2001      8
2002      8
2003      8
2004      8
2005      8
2006      8
2007      8
2008      8
2009      8
2010      9
2011      7
dtype: int64